
.demo-contents-import-box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 2.1em;
    margin-bottom: 25px;
    overflow: auto;
    padding: 15px;
    position: relative;
    max-width: 1050px;
}
.demo-contents-import-box.demo-contents-welcome {
    padding: 0px 20px 10px 25px;
}
.demo-contents-import-box h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 0px 0px 15px;
}
.demo-contents-import-box li {
    margin: 0px;
    padding-left: 15px;
    list-style: inside;
}

.demo-contents--current-theme {
    position: relative;
    .more-details {
        opacity: 1 !important;
        z-index: 3;
    } 
}
.demo-contents-hide {
    display: none !important;
}
.demo-contents .more-details {
    text-decoration: none !important;
}

.demo-contents .theme-overlay .theme-wrap {
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    border: 1px solid #ddd;
}
.demo-contents .theme-overlay .theme-wrap {
    position: relative;
    top: auto; bottom: auto; left: auto; right: auto;
    padding-top: 50%;
    margin-bottom: 40px;
}
.demo-contents .theme-overlay .theme-about {
    top: 25px;
}
.demo-contents .theme-overlay  .theme-overlay .theme-wrap {
    z-index: 1;
}
.demo-contents .theme .theme-actions, .demo-import-tab-content .theme .theme-actions {
    opacity: 1;
}
.demo-contents-import-progress {
    background: #ffffff;
    padding: 15px 15px 30px;
    display: block;
}

.demo-contents-child-item {
    margin: 5px 0px;
}

.demo-contents--activate-notice {
    padding: 15px;
    margin: 30px 0px;
    &.resources-not-found {
        margin-top: 0px;
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.demo-contents--theme-thumbnail {
    img {
        max-width: 100%;
        height: auto;
    }
    padding: 10px;
    background: #ddd;
}

.demo-contents--step {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    &:last-child {
        border-bottom: 0px none;
    }
    .demo-contents--step-heading {
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
    }
    .demo-contents--child-steps {
        display: none;
        &.demo-contents--show {
            display: block;
        }
    }
    .demo-contents--status {
        background: none;
        border: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0px;
        position: absolute;
        top: 7px;
        right: 0px;
        line-height: 24px;
        width: 24px;
        height: 24px;
        display: block;

        &:before {
            font-family: "dashicons";
            font: 400 24px/1 dashicons;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            width: 24px;
            height: 24px;
            display: block;
            font-weight: normal;
        }
    }

    &.demo-contents--running {
        .demo-contents--status {
            -webkit-animation:spin 2s linear infinite;
            -moz-animation:spin 2s linear infinite;
            animation:spin 2s linear infinite;
            color: #f56e28;
            &:before {
                content: "\f463";
            }
        }
    }

    &.demo-contents--waiting {
        .demo-contents--status {
            &:before {
                content: "\f469";
            }
        }
    }

    &.demo-contents--completed {
        .demo-contents--status {
            color: #65ae1f;
            &::before {
                content: "\f147";
            }
        }
    }
}


body.demo-contents-body-viewing {
    overflow: hidden !important;
}


#demo-contents--preview {
    z-index: 99999;
    background: #eee;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: block;
    width: 100%;

    .demo-contents-close {
        display: block;
        float: left;
        width: 45px;
        height: 45px;
        padding-right: 2px;
        background: #eee;
        border-right: 1px solid #ddd;
        color: #444;
        cursor: pointer;
        text-decoration: none;
        position: absolute;
        top: 0px;
        left: 0px;
        -webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
        transition: color .1s ease-in-out,background .1s ease-in-out;
        z-index: 99999;
        &:before {
            font: 400 22px/1 dashicons;
            content: "\f335";
            position: relative;
            top: 12px;
            left: 13px;
        }
    }
    .demo-contents-collapse-sidebar {
        z-index: 99999;
        bottom: 5px;
        left: 0;
        padding: 9px 0 9px 10px;
        height: 45px;
        color: #656a6f;
        outline: 0;
        line-height: 1;
        background-color: transparent!important;
        border: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        -webkit-border-radius: 0!important;
        border-radius: 0!important;
        position: fixed;

        .collapse-sidebar-arrow:before {
            display: block;
            float: left;
            content: "\f148";
            font: 400 20px/1 dashicons;
            speak: none;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: 1px solid transparent;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .collapse-sidebar-label {
            display: inline-block;
            vertical-align: middle;
            line-height: 20px;
            margin-left: 5px;
            -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
            transition:  all .3s;
        }

        &:hover {
            color: #0073aa;
            .collapse-sidebar-arrow:before {
                border-color: #0073aa;
            }
        }
    }

    #demo-contents-sidebar-topbar {
        display: block;
        text-align: right;
        border-bottom: 1px solid #ddd;
        padding: 10px 10px 10px 55px;
        background: #eee;
        height: 25px;
    }
    .ft-theme-name {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
    }
    #demo-contents-sidebar {
        width: 300px;
        top: 0px;
        left: 0px;
        bottom: 0px;
        display: block;
        border-right: 1px solid #ddd;
        position: fixed;
        background: #fff;
        -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
        transition:  all .3s;
        overflow: hidden;
    }
    &.ft-preview-collapse {
        #demo-contents-sidebar {
            left: -301px;

        }
        #demo-contents-viewing {
            margin-left: 0px;
        }
        .collapse-sidebar-label {
            opacity: 0 !important;
        }
    }

    #demo-contents-sidebar-heading {
        background: #fff;
        color: #555d66;
        margin: 0;
        padding: 12px 15px 15px;
        position: relative;
        font-size: 20px;
        font-weight: 200;
        line-height: 26px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        span {
            display: block;
            font-size: 12px;
        }
    }

    #demo-contents-viewing {
        margin-left: 301px;
        position: relative;
        height: 100%;
        display: block;
        iframe {
            width: 100%;
            height: 100%;
            display: block;
        }

        -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
        transition:  all .3s;
        overflow: hidden;
    }
    #demo-contents-sidebar-content {
        position: absolute;
        top: 46px;
        bottom: 49px;
        display: block;
        left: 0px;
        width: 100%;
        overflow: auto;
    }
    #demo-contents-sidebar-footer {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: block;
        left: 0px;
        padding: 20px 20px;
        text-align: right;
        background: #eee;
        border-top: 1px solid #ddd;
    }

    // Upload form
    .demo-contents---upload {
        button {
            display: block;
            width: 100%;
        }
        text-align: center;
        padding: 15px 20px;
        background: #eee;
    }

}
